## This notebook is a small exploration of the forms handwriting dataset.
Additionally, this notebook takes the forms dataset (organized into folders, i.e. 0_0, 1_1, 2_2, ... 46_t) and dumps them all into the folder 'train' inside DES_PATH. At the end, it dumps the image references and the class labels into a .csv file.

In [1]:
SRC_PATH = "/home/apil/data/paperpy/labels"
DES_PATH = "/home/apil/work/forms"

In [2]:
%load_ext autoreload
%autoreload 2
import sys; sys.path.append("..")

In [3]:
from fastai.paperpy.crawlers import FormsCrawler

## Crawl the forms images, invert colors, and dump to the 'work' folder
- Ensure that there is a folder called *train* in *DES_PATH*

In [7]:
images_name, images_clas = FormsCrawler().crawlPath(SRC_PATH, DES_PATH)

In [9]:
len(images_name)
len(images_clas)

In [10]:
import pandas as pd

In [12]:
data = {'ImageName':images_name, 'Class': images_clas}
df = pd.DataFrame(data)

In [13]:
df.tail()

                                      ImageName  Class
66565  5b059a6c08440c78459d1336field12ans24.jpg     34
66566   5b05965d08440c78459cb9defield9ans24.jpg     34
66567  5a64c8607f96a3b27705a1c2field11ans24.jpg     34
66568  5b05990f08440c78459cf665field14ans24.jpg     34
66569  5a64c9917f96a3b27705b9d4field12ans24.jpg     34

In [14]:
df.groupby("Class").count()

       ImageName
Class
0           1087
1           1092
2           1084
3           1088
4           1086
5           1087
6           1089
7           1080
8           1091
9           1086
10          1069
11          1075
12          2158
13          1077
14          1073
15          1074
16          1080
17          1080
18          2162
19          2104
20          2146
21          2169
22          2167
23          1079
24          2171
25          2096
26          1081
27          1082
28          2162
29          1078
30          2154
31          2159
32          2146
33          2147
34          2111
35          2128
36          1086
37          1077
38          1076
39          1095
40          1087
41           947
42          1075
43          1090
44           964
45          1088
46          1087

## Save the image names and class labels to csv

In [17]:
WORK_FILE = DES_PATH+"/train.csv"
from sklearn.utils import shuffle
shuffle(df).to_csv(WORK_FILE,columns=["ImageName","Class"], index=False, header=False)