Exploration of the bymerge dataset, which contains ~800K images, as opposed to ~112K for the balanced dataset

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
path_emnist = "/home/apil/Downloads/emnist"

In [3]:
train_db = pd.read_csv(path_emnist+"/emnist-bymerge-train.csv",header=None)

In [4]:
train_db.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,36,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,35,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
y_train = train_db.iloc[:,0]

In [6]:
y_train.head()

0    24
1    36
2     5
3     6
4    35
Name: 0, dtype: int64

In [7]:
x_train= train_db.iloc[:,1:]

In [8]:
x_train = x_train.astype('float32')

In [20]:
# some stats

In [23]:
y_train_with_cols = pd.DataFrame({'clazz':y_train.values,'name':'foobar'})

In [24]:
y_train_with_cols.groupby('clazz').count()

        name
clazz
0      34618
1      38304
2      34307
3      35285
4      33656
5      31280
6      34150
7      36020
8      33924
9      33882
10      6411
11      3874
12     12963
13      4606
14      4925
15      9098
16      2534
17      3097
18     14733
19      5689
20      4998
21     20381
22     11612
23      8237
24     27664
25     10748
26      2603
27      5047
28     23509
29      9766
30     15388
31      7588
32      7403
33      5598
34      7092
35      5416
36     10009
37      5080
38     10152
39     24657
40      2535
41      3693
42      8682
43     11444
44      2966
45     14060
46     18248